*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;

}
nav{
    /* display: flex; */
    align-items: center;
    position: absolute;
    z-index: 1;
    padding-top: 50px;
    /* flex-wrap: wrap; */
}


li{
    /* border: 1px solid blue; */
}

li > a{
    text-decoration: none;
    color: #ebe6e6;
    font-weight: 300;
    font-size: large;
    display: inline-block; /* To set the padding top & bottom */
    padding: 5px 20px;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin: 0 20px;
    background-color: rgba(241, 241, 241, 0.123);
   
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    /* box-shadow: 5px 4px 15px 1px #000000; */
}
li > a:hover{
    border-bottom: 2px solid darkcyan;
    color: darkcyan;
    transition: 0.5s;
}


header{
    /* background-color: crimson; */
    /* padding-top: 2vh; */
}

section h1{
    font-size: 8vw;   /* test */
    margin-left: 2vw;   /* test */
    font-weight: 900;
    color: #191919;
}

h2{
    font-size: 3vw;
    margin-left: 2vw;   /* test */
    font-weight: 500;
    color: #2c3e50;
}

p{
    font-weight: 300;
    font-size: 2vw;
    margin-left: 2vw;
    color: rgb(57, 57, 58);
}

.smallText{
    font-weight: 100;
}


/* flexbox for Hero Image section (Main section) */
.flexContainerHeroSection{
    display: flex;
    background-color: #27ae60;
    /* background-color: rgb(13, 7, 71); */
    height: 100vh;
    align-items: flex-end;
    position: relative;
    z-index: -1;
}

.flexContainerHeroSection h1{
    color: #ffffff;

    font-size: 8vw;   /* test */
    font-weight: 900;
}
.flexContainerHeroSection h2{
    color: rgb(167, 164, 164);
}

.flexContainerHeroSection .left-half{
    flex: 1;
    /* background-color: crimson; */
}
.flexContainerHeroSection .right-half{
    flex: 1;
    /* border-radius: 80% 10% 10% 50% / 60% 10% 40% 50%;
    background-color: #EF3D59; */    /* test */
}

@media screen and (max-width: 750px){
    .flexContainerHeroSection{
        flex-direction: column;
    }
}

@media screen and (max-width: 750px){
    ul > li{
        width: 100%;
        align-items: center;
        
    }
}


.btnBook{
    width: 200px;
    height: 50px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #eecb08;
    color: rgb(14, 14, 14);
    border: none;
    margin-left: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 500;
}

.btnBook:hover{
    background-color: tomato;
}




/* animation */
@keyframes shape{
    from{border-radius: 80% 10% 10% 50% / 60% 10% 40% 50%;}
    to{border-radius: 10% 40% 10% 50% / 40% 30% 10% 10%;}

    from{border-radius: 30% 50% 10% 50% / 60% 50% 40% 50%;
        background-color: rgb(7, 248, 135);
        }
    to{border-radius: 90% 40% 10% 50% / 50% 30% 10% 50%;
        background-color: rgb(71, 129, 255)}
}

.flexContainerHeroSection .right-half{
    /* animation-name: shape;            test
    animation: shape 5s infinite; */
}

.right-half img{
    width: 100%;
    height: auto;
}
/* digital clock */ 
.time{
    display: flex;
}
.time > span{
    width: 50px;
    height: 30px;
    background-color: rgb(250, 255, 255);
    color: #EF3D59;
    border: 5px solid rgb(243, 238, 238) ;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

footer{
    background-color: #01130f;
    color: rgb(248, 245, 248);
    height: 10vh;
    text-align: center;
    padding-top: 2vh;
    font-weight: 500;
    font-size: xx-small;
}

footer p{
    font-weight: 100;
    font-size: medium;
    color: rgb(236, 236, 236);
}
/* background-color: #EF3D59;
background-color: #E17A47;
background-color: #EFC958;
background-color: #4AB19D;
background-color: #344E5C; */


/* behandling class */
/* .fadeInUp{
    background-color:wheat;
    height: 100vh;
    
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

     */

/* ***************end behandling class******************** */

/* *********************Contact us form *********************** */
.flexContainerContactForm input, button{
    /* background-color: tomato;
    color: violet; */
    display: inline-block;
    width: 100%;
    height: 7vh;
    border-style: none;
    box-shadow:0 0 15px 4px rgba(19, 18, 18, 0.06);
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 5px;

}


.flexContainerContactForm{
    display: flex;
    flex-direction: column;
    /* background-color:#eecb08; */
    background-color:#2c3e50;
    padding: 10vh 0;
}

.flexContainerContactForm form{
    margin: 0 auto;  
    width: 70vw;
}

.flexContainerContactForm button{
    background-color: rgb(13, 7, 71);
    color: #FFFFFF;
}

.flexContainerContactForm button:hover{
    background-color: rgb(43, 37, 88);
    color: #FFFFFF;
}
input:focus{
    outline-color: rgb(223, 219, 219);
}
/* contact form validation */
/* input[type=email]{
    /* background-color: turquoise; 
}
 */

/* input:invalid{          /* Style for the invalid fields */
/*     outline-color: #EF233C;
    background-color: #FFADAD;
} */
 

/* *********************End Contact us form *********************** */

.flexPrisList{
    display: flex;
    padding: 50vh 0;
    flex-direction: column;
}