*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;   /* disable the horizontal scrollbar */
}

header{
    display: flex;
    flex-wrap: wrap;
}
nav{
    /* display: flex; */
    align-items: center;
    position: absolute;
    /* z-index: 1; */
    padding-top: 50px;
    /* flex-wrap: wrap; */
}


li{
    /* border: 1px solid blue; */
}

li > a , .btnBook{
    text-decoration: none;
    color: #2b2a2a;
    font-weight: 300;
    font-size: large;
    display: inline-block; /* To set the padding top & bottom */
    padding: 3px 10px;
    border: 1px solid rgb(201, 194, 194);
    border-radius: 15px;
    margin: 0 20px;
    letter-spacing: 0.15em;
    /* transition: 5s;  */
    /* background: rgba(022,20,152,1); */
    /* background-color: rgba(248, 212, 4); */
   
}


ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    /* box-shadow: 5px 4px 15px 1px #000000; */
}
li > a:hover,.btnBook:hover, .flexContainerContactForm button:hover{
    background-color: #F92CF5;
    box-shadow:
    0 0 5px  #F92CF5,
    0 0 25px  #F92CF5,
    0 0 50px  #F92CF5,
    0 0 200px  #F92CF5 ;
    /* : x offset, y offset, blur size, spread size, color */

    transition: 1s;
    border: rgba(253, 245, 230, 0) 1px solid; /* transparent border to overide border */
}

section h1{
    font-size: 5vw;   /* test */
    margin-left: 4vw;   /* test */
    font-weight: 900;
    color: #162c56;
}

h2{
    font-size: 3vw;
    margin-left: 4vw;   /* test */
    font-weight: 500;
    color: #2c3e50;
}

h3{
    font-size: 2vw;
    margin-left: 4vw;   /* test */
    font-weight: 300;
    color: #2c3e50;
}

p{
    font-weight: 300;
    font-size: 2vw;
    margin-left: 4vw;
    color: rgb(57, 57, 58);
}

.smallText{
    font-weight: 100;
}


/* flexbox for Hero Image section (Main section) */
.flexContainerHeroSection{
    display: flex;
    /* background-image: linear-gradient(to right top, #111214, #162c56, #3b3f9a, #8743d5, #e81cff); */
    /* background-color: rgb(13, 7, 71); */
    height: 100vh;
    align-items: center;
    /* position: relative; */
    /* z-index: -1; */
    /* animation: shape 8s ease-in-out infinite; */
}

.flexContainerHeroSection h1{
    color: #162c56;
    font-size: 5vw;   /* test */
    font-weight: 900;
}
.flexContainerHeroSection h2{
    color: rgb(167, 164, 164);
}

.left-half p{
    padding: 1em 0 1em 0;
}
.flexContainerHeroSection .left-half{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* background-color: crimson;  */
}
.flexContainerHeroSection .right-half{
    flex: 2;
    /*background-image: linear-gradient(to right top, #111214, #162c56, #3b3f9a, #8743d5, #e81cff); */
    /* animation: shape 10s ease-in-out infinite; */
    background-color: rgba(109, 107, 106, 0.062); 
    animation: shape 25s ease-in-out infinite;
    height: 100%; 
    /* border-radius: 80% 10% 10% 50% / 60% 10% 40% 50%;
    background-color: #EF3D59; */    /* test */
}

.flexContainerHeroSection .right-half .backgroundShape2{
    width: 60%;
    height: 80%;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-color: rgba(171, 52, 211, 0.075); 
    display: inline-block;
    position: absolute;
    z-index: -5;
    animation: backgroundShape2 20s ease-in-out infinite;
}

@media screen and (max-width: 750px){
    ul > li{
        width: 100%;
        align-items: center;
        
    }
    nav{
        position: absolute;
    }

    .flexContainerHeroSection{
        flex-direction: column-reverse;
    }
    li > a{
        width: 100vw;
        text-align: center;
        border-radius: 0;
        margin: 0;
        padding: 0.5em 0;
        background-color: rgba(24, 23, 23, 0.493);
        color: mistyrose;

    }
    .flexContainerHeroSection .right-half{
        width: 100%;
    }
    .flexContainerHeroSection .left-half{
        position: relative;
    }

    section > h1{
        font-size: 10vw;
    }
    .flexContainerHeroSection h1{
        font-size: 15vw;
    }
    .flexContainerHeroSection h2{
        text-align: left;
    }

    h2{
        font-size: 10vw;
        text-align: center;
    }
    h3{
        font-size: 7vw;
    }
    p{
        color: rgb(78, 78, 78);
        font-size: 5vw;
    }
    .flexContainerHeroSection .right-half{
        animation: test;   /* Remove later pathum */
    }
    .flexOmMig{
        flex-direction: column;
    }
    .flexContainerContactForm{
        flex-direction: column;
    }
    .socialNetwork ul li a{
        display: block;
        font-size: 4vw;
        width: 20px;
    }




}


.btnBook{
    width: 300px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 10px;
    /* background-color: #f0f2f3; */
    background-image: linear-gradient(to left, #f92cf5, #fe10d3, #fc00b4, #f60097, #eb127e);
    color: rgb(250, 250, 255);
    border: none;
    margin-left: 4vw;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 500;
    /* transition: 5s; */
}


/* animation */
@keyframes shape{
    
        
    0%{
        border-radius: 30% 70% 66% 34% / 31% 30% 70% 69% ;
        
    }
    50%{
        border-radius: 66% 34% 22% 78% / 42% 30% 70% 58% ;
        
    }
    100%{
        border-radius: 30% 70% 66% 34% / 31% 30% 70% 69% ;
        
    }


}
@keyframes backgroundShape2{
    
        
    0%{
        border-radius: 66% 34% 41% 59% / 68% 38% 62% 32% ;
        
    }
    50%{
        border-radius: 40% 60% 41% 59% / 41% 60% 40% 59% ;
        
    }
    100%{
        border-radius: 66% 34% 41% 59% / 68% 38% 62% 32% ;
        
    }

} 

@keyframes shapeContactBackground{
    
        
    0%{
        border-radius: 54% 46% 41% 59% / 58% 69% 31% 42%;
        
    }
    50%{
        border-radius: 36% 64% 28% 72% / 58% 69% 31% 42%;
        
    }
    100%{
        border-radius: 54% 46% 41% 59% / 58% 69% 31% 42%;
        
    }

}

@keyframes shapePrisListBackground{
    
        
    0%{
        border-radius: 54% 46% 41% 59% / 58% 69% 31% 42%;
        
    }
    50%{
        border-radius: 36% 64% 28% 72% / 58% 69% 31% 42%;
        
    }
    100%{
        border-radius: 54% 46% 41% 59% / 58% 69% 31% 42%;
        
    }

}


    /* from{border-radius: 80% 10% 10% 50% / 60% 10% 40% 50%;}
    to{border-radius: 10% 40% 10% 50% / 40% 30% 10% 10%;} */

    /* from{border-radius: 0% 0% 0% 40% / 0% 0% 0% 90%;
        background-color: rgb(7, 248, 136);
        }
    to{border-radius: 0% 0% 0% 90% / 0% 0% 0% 90%;
        background-color: rgb(86, 137, 248)} */


        /* from{border-radius: 30% 50% 10% 50% / 60% 50% 40% 50%;
            background-color: rgb(7, 248, 135);
            }
        to{border-radius: 90% 40% 10% 50% / 50% 30% 10% 50%;
            background-color: rgb(71, 129, 255)} */



.right-half img{
    width: 100%;
    height: auto;
}
/* digital clock */ 
.time{
    display: flex;
}
.time > span{
    width: 50px;
    height: 30px;
    background-color: rgb(250, 255, 255);
    color: #EF3D59;
    border: 5px solid rgb(243, 238, 238) ;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

footer{
    /* background-image: linear-gradient(to top, #2d012c, #410238, #570443, #6f054d, #870655); */
    background-color: #2d012c;
    color: rgb(248, 245, 248);
    /* height: 30vh; */
    text-align: center;
    padding-top: 2vh;
    font-weight: 500;
    font-size: xx-small;
}

footer p{
    font-weight: 100;
    font-size: medium;
    color: rgb(209, 206, 206);
    padding: 1em 0;
}
footer a{
    text-decoration: none;
    color: rgb(197, 11, 11);
    font-size: medium;
    font-weight: 900;
}

/* *********************Contact us form *********************** */
.flexContainerContactForm  input, button, textarea{
    /* background-color: tomato;
    color: violet; */
    display: inline-block;
    width: 100%;
    height: 7vh;
    border-style: none;
    box-shadow:0 0 10px 2px rgba(92, 91, 91, 0.103);
    margin: 0.5em 0;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    cursor: pointer;
    padding-left: 0.5em;
    border-radius: 5px;

}
.flexContainerContactForm textarea{
    height: 20vh;
    resize: none;
}
input,textarea:focus{
    outline-color: rgb(223, 219, 219);
}

.flexContainerContactForm{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: rgba(65, 16, 65, 0.041);
    padding: 15vh 0;
    animation: shapeContactBackground 15s ease-in-out infinite;
}

.flexContainerContactForm .left-Contact{
    flex: 1;
    display: flex;
    text-align: justify;
    /* background-color: rgb(229, 230, 228); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexContainerContactForm .right-Contact{
    flex: 1;
    display: flex;
    margin: 3vw;
    /* background-color: pink; */
}
.flexContainerContactForm div{
    width: 100vw;
}

/* .flexContainerContactForm form{
    margin: 0 auto;  
    width: 70vw;
} */

.flexContainerContactForm button{
    background-image: linear-gradient(to left, #f92cf5, #fe10d3, #fc00b4, #f60097, #eb127e);
    color: #f8f7f7;
    font-weight: 500;
}

.flexContainerContactForm button:hover{
    /* color: #FFFFFF;
    background-color: #03e9f4; 
    box-shadow:
    0 0 5px  #03e9f4,
    0 0 25px  #03e9f4,
    0 0 50px  #03e9f4,
    0 0 200px  #03e9f4 ; */
    /* : x offset, y offset, blur size, spread size, color */

    transition: 5s;
}
/* .flexContainerContactForm h1{
    color: #162c56;
} */


/* contact form validation */
/* input[type=email]{
    /* background-color: turquoise; 
}
 */

/* input:invalid{          /* Style for the invalid fields */
/*     outline-color: #EF233C;
    background-color: #FFADAD;
} */
 

/* *********************End Contact us form *********************** */

.flexPrisList{
    display: flex;
    padding: 30vh 0;
    /* height: 100vh; */
    /* background-color: rgba(9, 168, 76, 0.123); */
    /* animation: shapePrisListBackground 15s ease-in-out infinite; */
    flex-wrap: wrap;
    /* background-color: rgb(250, 210, 250); */
    /* flex-direction: column; */
}

.flexPrisList div{
    width: 100vw;
    /* background-color: orange; */
}

.flexPrisList .left-prisFlex{
    flex: 1;
    margin: 3vw;
    padding: 2em;
    /* box-shadow: 0 4px 8px 0 rgba(167, 167, 167, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.19); */
    text-align: justify;
    background-color: rgb(238, 236, 236);
}
.flexPrisList .right-prisFlex{
    flex: 1;
    background-color: rgb(243, 255, 241);
    margin: 3vw;
    padding: 2em;
    /* box-shadow: 0 4px 8px 0 rgba(167, 167, 167, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.19); */
    text-align: justify;
}

.flexHittaHit{
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    background-color: rgb(227, 236, 226);
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */    
    height: 100vh;
    /* background-color: rgba(226, 219, 226, 0.685);  */ /* Temp Pathum */
}

.flexPrisList button{    /* //Override button style */
    
    width: 90%;
    height: 7vh;
    box-shadow:none;   /* override contact form button shadow */
    margin: 4vw;
    background-color: rgb(7, 185, 36);
    color: white;
    /* display: inline-block; */
}

.left-prisFlex button{
    /* align-self: flex-end; */
}
.right-prisFlex button{
}
/* .map iframe{    /* text fade in 
    height: 40vh;
} */

.flexOmMig{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.flexOmMig div{
    width: 100vw;
    /* background-color: rgb(77, 187, 63); */
}
.flexOmMig .leftOmMig{
    flex: 1;
    display: flex;
    text-align: justify;
    background-color: rgba(233, 243, 223, 0.568);
    margin: 3vw;
    padding: 2em;
    /* background-color: rgb(97, 170, 253); */
    
}
.flexOmMig .rightOmMig{
    flex: 1;
    display: flex;
    /* background-color: rgb(169, 233, 161); */
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    
}
.flexOmMig img{
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.socialNetwork ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.socialNetwork a{
    font-size: 2vw;
    color: #fdfdfd;
    margin: 2em 1em;
    padding: 0.1em;
    /* border-radius: 50%; */
    text-decoration: none;
    border: none;
}
.socialNetwork ul li{
    display: inline-block;
    width: 50px;
}
.fa:hover {
    opacity: 0.7;
    /* background-color: #2f4ed4;
    box-shadow:
    0 0 5px  #2f4ed4,
    0 0 25px  #2f4ed4,
    0 0 50px  #2f4ed4,
    0 0 200px  #2f4ed4 ; */
    /* : x offset, y offset, blur size, spread size, color */
    color: rgb(31, 30, 30);
    transition: 1s;
}


/* Change autocomplete styles in WebKit */
input:-webkit-autofill
/* input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, */
/* textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus  */{
  /* border: 1px solid green; */
  /* -webkit-text-fill-color: green; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
  background-color: maroon;
}