*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
}
nav{
    /* display: flex; */
    align-items: center;
    position: absolute;
    /* z-index: 1; */
    padding-top: 50px;
    /* flex-wrap: wrap; */
}


li{
    /* border: 1px solid blue; */
}

li > a , .btnBook{
    text-decoration: none;
    color: #2b2a2a;
    font-weight: 300;
    font-size: large;
    display: inline-block; /* To set the padding top & bottom */
    padding: 5px 20px;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin: 0 20px;
    letter-spacing: 0.15em;
    transition: 5s; 
    /* background: rgba(022,20,152,1); */
    /* background-color: rgba(248, 212, 4); */
   
}

/* li > a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    /* box-shadow: 5px 4px 15px 1px #000000; */
}
li > a:hover,.btnBook:hover{
    background-color: #03e9f4;
    box-shadow:
    0 0 5px  #03e9f4,
    0 0 25px  #03e9f4,
    0 0 50px  #03e9f4,
    0 0 200px  #03e9f4 ;
    /* : x offset, y offset, blur size, spread size, color */

    transition: 5s;
}

section h1{
    font-size: 8vw;   /* test */
    margin-left: 2vw;   /* test */
    font-weight: 900;
    color: #162c56;
}

h2{
    font-size: 3vw;
    margin-left: 2vw;   /* test */
    font-weight: 500;
    color: #2c3e50;
}

p{
    font-weight: 300;
    font-size: 2vw;
    margin-left: 2vw;
    color: rgb(57, 57, 58);
}

.smallText{
    font-weight: 100;
}


/* flexbox for Hero Image section (Main section) */
.flexContainerHeroSection{
    display: flex;
    /* background-image: linear-gradient(to right top, #111214, #162c56, #3b3f9a, #8743d5, #e81cff); */
    /* background-color: rgb(13, 7, 71); */
    height: 100vh;
    align-items: center;
    /* position: relative; */
    /* z-index: -1; */
    /* animation: shape 8s ease-in-out infinite; */
}

.flexContainerHeroSection h1{
    color: #162c56;
    font-size: 8vw;   /* test */
    font-weight: 900;
}
.flexContainerHeroSection h2{
    color: rgb(167, 164, 164);
}

.left-half p{
    padding: 1em 0 1em 0;
}
.flexContainerHeroSection .left-half{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* background-color: crimson;  */
}
.flexContainerHeroSection .right-half{
    flex: 2;
    background-image: linear-gradient(to right top, #111214, #162c56, #3b3f9a, #8743d5, #e81cff);
    animation: shape 10s ease-in-out infinite;
    height: 100%;
    /* border-radius: 80% 10% 10% 50% / 60% 10% 40% 50%;
    background-color: #EF3D59; */    /* test */
}

@media screen and (max-width: 750px){
    /* .flexContainerHeroSection{
        flex-direction: column;
    } */
    /* .flexContainerHeroSection .right-half{
        flex: 100%;
    } */
}

@media screen and (max-width: 750px){
    ul > li{
        width: 100%;
        align-items: center;
        
    }
    nav{
        position: static;
    }

    .flexContainerHeroSection{
        flex-direction: column-reverse;
    }
    li > a{
        width: 50vw;
        text-align: center;
    }
    .flexContainerHeroSection .right-half{
        width: 100%;
    }

}


.btnBook{
    width: 300px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #bfc3c4;
    color: rgb(85, 84, 84);
    border: none;
    margin-left: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 500;
    transition: 5s;
}


/* animation */
@keyframes shape{
    
        
    0%{
        border-radius: 0% 0% 0% 50% / 0% 0% 0% 90%;
        
    }
    50%{
        border-radius: 0% 0% 0% 90% / 0% 0% 0% 90%;
        
    }
    100%{
        border-radius: 0% 0% 0% 50% / 0% 0% 0% 90%;
        
    }

}

@keyframes shapeContactBackground{
    
        
    0%{
        border-radius: 0% 90% 0% 0% / 0% 90% 0% 0%;
        
    }
    50%{
        border-radius: 0% 80% 0% 0% / 0% 80% 0% 0%;
        
    }
    100%{
        border-radius: 0% 90% 0% 0% / 0% 90% 0% 0%;
        
    }

}



    /* from{border-radius: 80% 10% 10% 50% / 60% 10% 40% 50%;}
    to{border-radius: 10% 40% 10% 50% / 40% 30% 10% 10%;} */

    /* from{border-radius: 0% 0% 0% 40% / 0% 0% 0% 90%;
        background-color: rgb(7, 248, 136);
        }
    to{border-radius: 0% 0% 0% 90% / 0% 0% 0% 90%;
        background-color: rgb(86, 137, 248)} */


        /* from{border-radius: 30% 50% 10% 50% / 60% 50% 40% 50%;
            background-color: rgb(7, 248, 135);
            }
        to{border-radius: 90% 40% 10% 50% / 50% 30% 10% 50%;
            background-color: rgb(71, 129, 255)} */




.right-half img{
    width: 100%;
    height: auto;
}
/* digital clock */ 
.time{
    display: flex;
}
.time > span{
    width: 50px;
    height: 30px;
    background-color: rgb(250, 255, 255);
    color: #EF3D59;
    border: 5px solid rgb(243, 238, 238) ;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

footer{
    background-color: #01130f;
    color: rgb(248, 245, 248);
    height: 10vh;
    text-align: center;
    padding-top: 2vh;
    font-weight: 500;
    font-size: xx-small;
}

footer p{
    font-weight: 100;
    font-size: medium;
    color: rgb(236, 236, 236);
}
/* background-color: #EF3D59;
background-color: #E17A47;
background-color: #EFC958;
background-color: #4AB19D;
background-color: #344E5C; */


/* behandling class */
/* .fadeInUp{
    background-color:wheat;
    height: 100vh;
    
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

     */

/* ***************end behandling class******************** */

/* *********************Contact us form *********************** */
.flexContainerContactForm input, button{
    /* background-color: tomato;
    color: violet; */
    display: inline-block;
    width: 100%;
    height: 7vh;
    border-style: none;
    box-shadow:0 0 15px 4px rgba(19, 18, 18, 0.6);
    margin: 0.5em 0;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    cursor: pointer;
    padding-left: 0.5em;
    border-radius: 5px;

}


.flexContainerContactForm{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #111214, #162c56, #3b3f9a, #8743d5, #e81cff);
    padding: 15vh 0;
    animation: shapeContactBackground 10s ease-in-out infinite;
}

.flexContainerContactForm form{
    margin: 0 auto;  
    width: 70vw;
}

.flexContainerContactForm button{
    background-color: #03e9f4; 
    color: #494848;
    font-weight: 500;
}

.flexContainerContactForm button:hover{
    color: #FFFFFF;
    background-color: #03e9f4; 
    box-shadow:
    0 0 5px  #03e9f4,
    0 0 25px  #03e9f4,
    0 0 50px  #03e9f4,
    0 0 200px  #03e9f4 ;
    /* : x offset, y offset, blur size, spread size, color */

    transition: 5s;
}
.flexContainerContactForm h1{
    color: rgb(255, 255, 255);
}

input:focus{
    outline-color: rgb(223, 219, 219);
}
/* contact form validation */
/* input[type=email]{
    /* background-color: turquoise; 
}
 */

/* input:invalid{          /* Style for the invalid fields */
/*     outline-color: #EF233C;
    background-color: #FFADAD;
} */
 

/* *********************End Contact us form *********************** */

.flexPrisList{
    display: flex;
    padding: 50vh 0;
    flex-direction: column;
}